.show-locations {
  @extend %section-padding;
  color: color(base);
  h2 {
    font-weight: weight(light);
  }
}
.menu-slide-left {
  background-color: color(primary);
}

.locations-list {
  button {
    font-family: $primary;
    font-size: type-scale(1);
    font-weight: weight(normal);
    color: color(base);
    background-color: color(primary);
    &:hover {
      background-color: mix(white, color(primary), 10%);
    }
  }
}
